<!DOCTYPE html>
<html>
    <head>
        <!-- import bootstrap -->
        <link href="/source/css/Login.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>Login: Recipe Rocket</title>
    </head>
    <body>
      <!-- main container -->
      <div class="container d-flex justify-content-center align-items-center min-vh-100">

        
        <!-- login container -->
        <div class="row border rounder-5 p-3 bg-white shadow box-area">

        
        <!-- left box -->

        <div class="col-md-6  rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background:#103cbe ;">
          <div class="featured-image mb-3">
            <img src="/assets/images/1.png" class="img-fluid" style="width: 250px;">
          </div>
          <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Be Verified</p>
          <small class="text-white text-wrap text-center" style="width: 17rem; font-family: 'Courier New', Courier, monospace;">Join...</small>
        </div>
        <!-- right box -->
        <div class="col-md-6 right-box">
          <div class="row align-items-center">
            <div class="header-text mb-4">
              <p>Hello!</p>
              <p>We are happy to have you back.</p>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">
            </div>
            <div class="input-group mb-1">
              <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password">
            </div>
            <div class="input-group mb-5">
              <input type="checkbox" class="form-check-input" id="formCheck">
              <label for="formCheck" class="form-check-label text-secondary"><small</label>
            </div>
          </div>
        </div>


        </div>
      </div>
    </body>
    <script src="/source/scripts/Login.js"></script>
    </html>